name: Google Indexing Automator

on:
  workflow_dispatch: # يسمح لك بتشغيله يدوياً بضغطة زر
  schedule:
    - cron: '0 0 * * *' # يعمل تلقائياً كل يوم الساعة 12 منتصف الليل

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests oauth2client httplib2

      - name: Run Indexing Script
        run: python fast_index.py
